# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 秦以南
subtitle: '秋风荒草白云深'
description: ''
keywords:
author: Qin Yinan
language: zh-CN
timezone: ''

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: http://blog.qinyn.42web.io
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: ../public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: jelly

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
#  type: ftpsync
#  host: v0.ftp.upyun.com # ftp服务器地址
#  user: ganyz123/blogqinyn # ftp用户名
#  pass: GSXytpncwHoWcNlfUDVzJSwIAAr5pmYZ # 你的ftp用户密码
#  remote: / # 你要上传到的地址，例如/wwwroot
#  port: 21 # ftp端口，不同的ftp可能会不一样
#  verbose: true # 是否打印调试信息
#  ignore_errors: false # 是否忽略错误
#  connections: 2
###
#  type: ftpsync
#  host: 004.3vftp.cn # ftp服务器地址
#  user: ganyz # ftp用户名
#  pass: ganyz123456 # 你的ftp用户密码
#  remote: / # 你要上传到的地址，例如/wwwroot
#  port: 21 # ftp端口，不同的ftp可能会不一样
#  verbose: true # 是否打印调试信息
#  ignore_errors: false # 是否忽略错误
#  connections: 1
#  delete: false
#  type: ftpsync
#  host: ftpupload.net # ftp服务器地址
#  user: epiz_30535705 # ftp用户名
#  pass: ZL9FNYJjF5h5P # 你的ftp用户密码
#  remote: /blog.qinyn.42web.io/htdocs # 你要上传到的地址，例如/wwwroot
#  port: 21 # ftp端口，不同的ftp可能会不一样
#  verbose: false # 是否打印调试信息
#  ignore_errors: true # 是否忽略错误
#  connections: 2
  type: ftpsync
  host: myhomeqinyn.f3322.net # ftp服务器地址
  user: 1522846127@qq.com # ftp用户名
  pass: Ganyz123456 # 你的ftp用户密码
  remote: / # 你要上传到的地址，例如/wwwroot
  port: 21 # ftp端口，不同的ftp可能会不一样
  verbose: false # 是否打印调试信息
  ignore_errors: true # 是否忽略错误
  connections: 2